@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'open san', sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

/* hero section */
.hero-container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* font style */
.section-container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: white;
  margin-bottom: 30px;
}
.section-sub-title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #c0c0c0;
}
.content-text-title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 20px;
}
.content-text-sub-title {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
}
.content-text {
  font-weight: 400;
  font-size: 18px;
  color: #c0c0c0;
  margin-bottom: 10px;
  line-height: 26px;
}
.test-scrollTop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}
.big-img-btn {
  background-color: #000;
  all: unset;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  top: 100px;
  right: 200px;
  transition: 0.2s;
}
.big-img-btn:hover {
  transform: scale(1.2);
}
/* Nav bar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  transition: ease 0.5s;
  font-family: 'Orbitron', sans-serif;
}

.navbar-content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left h1 {
  font-size: 24px;
  color: white;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
}

.navbar-right {
  display: flex;
  gap: 20px;
}

.navbar-right a {
  color: rgb(172, 172, 172);
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-right a:hover {
  color: #ffffff;
}
/* Mars model */
.mars-canvas-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 1200px;
  overflow: hidden;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.text-container {
  min-height: 300vh;
  background: rgba(0, 0, 255, 0.5);
  padding: 50px;
  color: white;
  position: relative;
  z-index: 2;
}
.canvas-wrapper {
  height: 1000px;
  position: relative;
}
.hide {
  opacity: 0;
}

/* weather */
.weather-container {
  width: 100%;
  height: 1000px;
  overflow: hidden;
  display: flex;
}
.weather-content {
  flex: 1;
}
.weather-title {
  display: flex;
  flex: 1;
  height: 200px;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.8s;
  position: relative;
  top: 0;
  opacity: 1;
}
.sol-dropdown {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 5px 8px;
  margin-left: 8px;
  font-size: 16px;
}

.climate-compare-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  margin-top: 50px;
  color: white;
}

.planet-column {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  padding: 20px 30px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  min-width: 300px;
  opacity: 1;
  left: 0;
  transition: ease-in-out 0.5s;
}

.planet-column h2 {
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
}

.planet-column ul {
  list-style: none;
  padding: 0;
}

.planet-column li {
  margin-bottom: 10px;
  font-size: 18px;
}

/* mars model left side */
.weather-mars-container {
  position: relative;
  left: 0px;
  transition: ease-in-out 0.8s;
}
/* earth model right side */
.weather-earth-container {
  transition: ease-in-out 0.8s;
  position: relative;
  right: 0px;
}

/* mars-gallery-container */
.mars-gallery-container {
  width: 100%;
  height: 1000px;
}
.mars-gallery-title {
  width: 100%;
  text-align: center;
  position: relative;
  top: 0;
  opacity: 1;
  transition: ease 0.8s;
}
.mars-gallery-pictures-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mars-gallery-picture-row {
  display: flex;
}
.mars-gallery-picture-box {
  width: 400px;
  height: 400px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.8s ease;
}

.mars-gallery-picture-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

/* When appear class is active */
.mars-gallery-picture-box.appear {
  transform: translateY(0);
  opacity: 1;
}
.mars-gallery-picture-box:hover img {
  transform: scale(1.1);
}
.random-button {
  background-color: #000;
  all: unset;
  cursor: pointer;
  width: 180px;
  height: 40px;
  border: 1px solid #a2a2a2;
  color: #a2a2a2;
  border-radius: 5px;
  text-align: center;
  transition: 0.2s;
}
.random-button:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.mars-gallery-picture-box {
  position: relative;
  overflow: hidden;
}

.image-info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.mars-gallery-picture-box:hover .image-info-overlay {
  opacity: 1;
}
/* picture of the day */
.pod-fullscreen-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.pod-fullscreen-img img {
  height: 80vh;
}
.display-none {
  display: none;
}

.pod-container {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pod-left {
  width: 800px;
  padding: 0 50px;
  opacity: 1;
  position: relative;
  left: 0;
  transition: ease-in-out 0.8s;
}
.pod-right {
  padding: 0 50px;
  opacity: 1;
  position: relative;
  right: 0;
  transition: ease-in-out 0.8s;
}
.pod-img {
  width: 400px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.pod-img:hover {
  transform: scale(1.1);
}
/* footer */
.footer {
  background: rgba(255, 255, 255, 0);
  padding: 40px 20px 20px 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  border-top: 1px solid #fff;
}

.footer-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-left h2 {
  font-size: 24px;
  margin-bottom: 8px;
  font-family: 'Orbitron', sans-serif;
}

.footer-left p {
  font-size: 16px;
  opacity: 0.7;
}

.footer-right a {
  color: rgb(194, 194, 194);
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  cursor: pointer;
}

.footer-right a:hover {
  color: rgb(255, 255, 255);
}

.footer-bottom {
  font-size: 14px;
  opacity: 0.6;
  text-align: center;
}

/* chat box */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.chat {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-height: 500px;
  min-height: 500px;
  max-width: 300px;
  min-width: 300px;

  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  opacity: 90%;
  font-family: 'Martian Mono', monospace;
  bottom: 2rem;
  right: 2rem;

  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 999;

  color: white;
}

.header {
  margin: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-family: 'Martian Mono', monospace;
  font-weight: Light;
  font-size: 1.3rem;
  opacity: 80%;
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 0;
  /* border: 1px solid #fff; */
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 2px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.openChatBox {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  position: fixed;
  padding: 8px 12px;
  font-size: 1rem;
  background-color: #2b2b2b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Martian Mono', monospace;
}

.openChatBox:hover {
  opacity: 1;
  box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
}

.closeButton:hover {
  box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: auto; /* IE 10+ */

  /* font-family: 'Martian Mono', monospace; */
  font-size: 13px;

  height: 390px;
  width: 300px;
  /* border: 1px solid #fff; */
}

.messages::-webkit-scrollbar {
  width: 8px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.messages::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.messages::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.message-earth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 8px;
  border-radius: 20px;
  margin: 4px;
  max-width: 250px;
  background-color: rgb(33, 114, 186);
}

.message-mars {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 250px;
  padding: 8px;
  border-radius: 20px;
  margin: 4px;
  background-color: rgb(137, 35, 35);
}

.input-and-send-button {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.input {
  height: 38px;
  width: 246px;

  border: none;
  border-radius: 5px;

  font-family: 'Martian Mono', monospace;
  margin-top: 1px;
  margin-bottom: 3px;
  margin-left: 3px;
}

.send-icon {
  height: 40px;
  width: 40px;

  margin-bottom: 3px;
  margin-right: 3px;

  border-radius: 5px;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-icon:hover {
  box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
}

.input:hover {
  box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
}

/* animation css class */
.hide-left-300 {
  left: -300px;
}
.hide-left-100 {
  left: -100px;
  opacity: 0;
}
.hide-right-100 {
  right: -100px;
  opacity: 0;
}
.hide-right-300 {
  right: -300px;
}
.hide-top-100 {
  top: -100px;
  opacity: 0;
}
.hide-top-60 {
  top: -60px;
  /* opacity: 0; */
}
